/*Formatando para Mobile*/
#DivInterna{
    display: table;
    margin: 0 auto;
    width:0%;
    margin-top:5px;
    margin-bottom: 5px;
    border-radius:5px;

}
#DivRetangular{
    height: 100px;
    width: 340px;
    border-radius: 5px;


}
#DivImagem{
    background-image: url('hambuerger.png');
    width:80px;
    height:80px;
    border-radius:15px;
    border-top:10px ;
    border-left:10px ;
    border-bottom:10px;
    border-right:10px;

    
}
#DivTitulo{
    color: #830094;
    width:100%;
    margin-left: 110%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: start;

}

#DivPreco{
    color: #830094;
    width:100%;
    margin-left: 110%;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: start;
}   


button{
color: #830094;
margin-left:300%;
width: 85px;
height:35px;
border-radius: 5px solid;
font-family: Arial, Helvetica, sans-serif;
font-style: bold;

}

#DivDescricao{
    color:#830094;
    width:260%;
    margin-left:110%;
    font-style: oblique;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

/*Formatando para Desktop*/
@media only screen and (min-width: 470px ){
    #DivInterna{
        display: table;
        margin: 0 auto;
        width:0%;
        margin-top:5px;
        margin-bottom: 5px;
        border-radius:15px;
    
    }
    #DivRetangular{
        height: 170px;
        width: 450px;
        border-radius: 15px;
    
    }
    #DivImagem{
        background-image: url('hambuerger130.png');
        width:130px;
        height:130px;
        border-radius:30px;
        border-top:20px;
        border-left:20px ;
        border-bottom:20px ;
        border-right:20px ;
        
        
    }
    #DivTitulo{
        color:#830094;
        width:100%;
        margin-left: 110%;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-align: start;
        
    }
    
    #DivPreco{
        color:#830094;
        width:100%;
        margin-left: 110%;
        font-style: oblique;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-align: start;
    }
    #DivDescricao{
        color:#830094;
        width:210%;
        margin-left:110%;
        font-style: oblique;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
